@import 'reset';

hr.style1{
	border-top: 1px solid #8c8b8b;
	margin: 0px;
	margin-top: 5%;
	with: 100%;
	display: none;
}

.weather{
	margin-top: 5%;
	margin-left: 10%;
	height: 400px;
	width: 700px;
	display: flex;
	flex-flow: row wrap;
	border: 2px solid #9FB4B1;
	border-radius: 5px;
	font-size: 18px;
	color: #929292;
	font-family: Arial;
	&__up{
		display: flex;
		flex-direction: row;
		width: 100%;
		&__mainInfo{
			height: 60%;
			width: 50%;
			box-sizing: content-box;
			&__title{
				width: 50%;
				margin-top:5%;
				margin-left:5%;
				&--city{
					font-size: 25px;
					font-weight: bold;
				}
			}
			&__temp{
				display:flex;
				align-content: space-around;
				align-items: flex-start;
				box-sizing: content-box;
				margin-top: 10%;
				margin-left: 5%;
				width: 100%;
				&--todayIcon{
					display:inline-block;
					width: 20%;
					& img {
						height: auto;
						width:100%;
					}
				}
				&--todayGrades{
					display:flex;
					width: auto;
					font-size: 70px;
					color: black;
					& p{
						display:inline;
					}
					& span{
						font-size: 20px;
					}
				}
			}
		}
		&__secondaryInfo{
			height: 60%;
			width: 50%;
			box-sizing: content-box;
			&__data{
				margin-top: 5%;
				& p{
					margin-top:3px;
				}
			}
			&__infoButtons{
				margin-top: 5%;
				display:flex;
				width: 90%;
				& button{
					width: 100%;
					background-color: #ECECEC;
					padding: 3%;
					border: 1px solid #9FB4B1;
					&:hover{
						background-color: #dfdfdf;
						font-weight: bold;
					}
				}
			}
		}
	}
	&__down{
		height: 40%;
		width: 100%;
		display: flex;
		&__prevision{
			width: 100%;
			margin: 2%;
			text-align: center;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: space-around;
			align-items: center;
			justify-content: space-between;
			&__element{
				box-sizing: content-box;
				align-items: center;
				padding: 2%;
				& span {
					font-weight: bold;
				}
				& img{
					height: auto;
					width: 60%
				}
				&:hover{
					border: 1px solid #9FB4B1;
					background-color: #f2f2f2;
				}
			}
		}
	}
}

/*
	IPHONE 6/7/8 NORMAL
*/
@media only screen and (max-width: 375px) {
	hr.style1{
		display: block;
	}
	.weather{	
		margin-top: 0%;
		margin-left: 0%;
		width: 100vw;
		height: auto;
		border: 0px solid #9FB4B1;
		padding: 5%;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		&__up{
			display: flex;
			flex-direction: column;
			margin: auto;
			justify-content: center;
			&__mainInfo{
				width: 70%;
				margin: auto;
				&__title{
					margin: auto;
				}
				&__temp{
					display: flex;
					width: auto;
					justify-content: center;
					margin-top: 10%;
					margin-left: 0%;
					&--todayIcon{
						display:flex;
						width:30%;
						& img {
							height: auto;
						}
					}
				}
			}
			&__secondaryInfo{
				width: 70%;
				margin: auto;
				align-content: center;
				&__data{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-bottom: 5%;
				}
				&__infoButtons{
					margin: auto;
					display: flex;
				}
			}
		}
		&__down{
			margin-top: 10%;
			display: flex;
			&__prevision{
				&__element{
 					width: 20%;
				}
			}
		}
	}
}